<h3>Strona główna</h3>

<p>
In previous versions of Rails, the default local variable would look for an instance variable with the same name as the partial in the parent. This behavior was deprecated in 2.3 and has been removed in Rails 3.0.
</p>

<div class="div_tabs">
  
<% if @last_thing %>
  
<div class="div_tab_news">
  
 <% thing = @last_thing %>
    
  <!-- Name -->
  <%= link_to thing.name, thing %>
  
  <!-- Photo -->
  <% if is_proper_photo(thing.photo) %>
    <%= link_to image_tag(thing.photo, :class => "im_thing", :height => "110" ), thing %>
  <% else %>
    <%= image_tag "no_photo.png", :class => "im_thing", :size => "100x110" %>
  <% end %>
  
  <!-- Owner -->
  Wlaściciel:
  <% if thing.user %>
    <%= thing.user.login %>
  <% else %>
    Usunięty
  <% end %>
  <br />
  

  
</div>

<% end %>
  
</div>