<table>
  
<% @lendings.each do |len| %>
<tr>
  <td>Thing: <% if len.thing %><%= len.thing.name %><% end %></td>
  <td>User: <% if len.user %><%= len.user.login %><% end %></td>
  <td>DataOd: <%= len.data_od %></td>
  <td><%= link_to 'Usun', len, method: :delete %></td>
</tr>

<% end %>

</table>